/*Start of Global Settings*/

body
    {font-family: Georgia, serif; font-size:0.9em;}


header nav
    {border: 1px solid transparent;  background-image: url("bannerimage.jpg"); background-size:auto; background-repeat: no-repeat; background-color: transparent ; margin: 0px; padding: 100px; font-size: 150%;}

ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: black;




    }
     ul li {
      float: left;

    }

     li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
	  color: white;

    }

     li a:hover {
      background-color: red;
    }


/*Will change to img*/

p100{
		color:white;
		float:right;
		text-align: center;
		padding: 15px
	}

h1{
	text-align: center;
      font-size: 100%;
      color: black;
}

h2{
	color: black;


}

section
{border:1px solid; margin:5px; padding:8px; color:black;}

article
{border:1px solid grey; margin:5px; padding:8px; background-color:white}

footer
{border:1px solid; margin:5px; padding:8px; color:black;}

input[type=text], input[type=password], input[type=date], input[type=email], select{
  display:inline-block;
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


div{
  float: left;
  border-radius: 5px;
  width: 30%;
  background-color: transparent;
  padding: 20px;
  border: 1px transparent;
}

.center{
  margin: auto;
  border-radius: 5px;
  width: 30%;
  background-color: #c2c2c2;
  padding: 20px;
  border: 1px #c2c2c2;

}

.div1 {
width: 900px;
height: 100px;
padding: 10px;
border: 1px solid grey;
}

.radiotext {
    margin: 10px 10px 0px 0px;
}


img{
display: block;
margin: 0 auto;
}


/*End of Global Settings*/

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Start of Index Settings*/
